<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% load socialaccount %}
<a href="{% provider_login_url 'kakao' method='oauth2' %}">Allauth 이용한 카카오 로그인</a>








<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript">
  Kakao.init('37a1676d8773caa1cd6c8649ed28acb0'); // 카카오 앱키 자바스크립트로 등록

  function loginWithKakao() {
    Kakao.Auth.authorize({
      redirectUri: 'http://127.0.0.1:8000/oauth/redirect'
    })
  }
  // 아래는 데모를 위한 UI 코드입니다.
  displayToken()
  function displayToken() {
    const token = getCookie('authorize-access-token')
    if(token) {
      Kakao.Auth.setAccessToken(token)
      Kakao.Auth.getStatusInfo(({ status }) => {
        if(status === 'connected') {
          document.getElementById('token-result').innerText = 'login success. token: ' + Kakao.Auth.getAccessToken()
        } else {
          Kakao.Auth.setAccessToken(null)
        }
      })
    }
  }
  function getCookie(name) {
    const value = "; " + document.cookie;
    const parts = value.split("; " + name + "=");
    if (parts.length === 2) return parts.pop().split(";").shift();
  }
</script>


</body>
</html>


