{% extends 'base.html' %}
{% load static %}
{% block contents %}
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">내 정보</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 mx-auto text-center">
                        <div class="team-member">
                            <h2 class="item-intro text-muted " style="display:inline">ID : </h2>
                            <h2 class="text-uppercase" style="display:inline">{{ user.username }}</h2>
                            <br/>
                            <h2 class="item-intro text-muted" style="display:inline">Email : </h2>
                            <h2 class="text-uppercase" style="display:inline">{{ user.email }}</h2>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                        <a href="/accounts/update">회원정보 수정</a>
                        <a>/</a>
                        <a href="/accounts/delete">회원 탈퇴</a>
                    </div>

                </div>
                </div>
            </div>
        </section>
{% endblock %}