{% extends 'base.html' %}
{% load static %}
{% block contents %}
<section class="page-section bg-light" id="portfolio">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="modal-body">
                <!-- Project details-->
                <h2 class="text-uppercase">{{ post.title }}</h2>
                <p class="item-intro text-muted">{{ post.writer }}</p>
                <img class="img-fluid d-block mx-auto" src="media/{{ postImage.image }}" alt="..." />
                <p>{{ post.contents | safe }}</p>

                {% if request.user == post.writer %}

                    <button class="btn btn-primary text-uppercase" data-bs-dismiss="modal" type="button" onclick = "location.href = '/board/update/{{ post.id }}' ">
                        <i class="fas fa-mark me-1"></i>
                        게시글 수정
                    </button>


                    <button class="btn btn-primary text-uppercase"  type="button" onclick = "location.href = '/board/delete/{{ post.id }}' ">
                        <i class="fas fa-xmark me-1"></i>
                        게시글 삭제
                    </button>
                {% endif %}
            </div>
        </div>
    </div>

    <hr />
    <div class="form-group">
        <!-- Name input-->
        <form action="/reply/create/{{ post.id }}" method="post"> <!-- action이 없으면 보낸 url로 다시 보낸다. post방식으로 전달 -->
            <!-- 댓글이 저장되게 하는 코드 호출 -->
            {% csrf_token %}
            <input name="contents" type="text" placeholder="댓글 내용을 입력해주세요" class="form-control" />
            <button class="btn btn-primary text-uppercase" >
                댓글 작성
            </button>


            <ul class="list-inline">
                {% for reply in post.reply_set.all %} <!-- for [변수] in context -->
                <li>
                    <strong>{{ reply.writer }}</strong> <!-- 변수.작성자 -->
                    {{ reply.contents }}
                </li>
                {% if request.user == post.writer %}

                    <button class="btn btn-primary text-uppercase"  type="button" onclick = "location.href = '/reply/update/{{ post.id }}' ">
                        <i class="fas fa-mark me-1"></i>
                        댓글 수정
                    </button>

                    <button class="btn btn-primary text-uppercase"  type="button" onclick = "location.href = '/reply/delete/{{ post.id }}' ">
                        <i class="fas fa-xmark me-1"></i>
                        댓글 삭제
                    </button>
                    {% endif %}
                {% endfor %}
            </ul>
        </form>

    </div>

</div>
</section>
{% endblock %}